* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* user-select: none; */
  font-size: 16px;
  font-family: "微軟正黑體" !important;
  color: rgb(135, 94, 58);
}

.container {
  width: 350px;
  /* height: 260px; */
  background-color: #f0e8dd;
  border: 2px solid #a17e5f;
  padding: 1rem;
}

.container .switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container .setting-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  margin-left: 0.3rem;
}

.cbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: rgb(240, 232, 221);
  border: 1px solid rgb(135, 94, 58);
  transition: 0.2s;
}

.cbox:hover input ~ .checkmark {
  background-color: rgb(230, 222, 200);
}

.cbox input:checked ~ .checkmark {
  background-color: rgb(220, 188, 96);
}

.cbox input:checked:hover ~ .checkmark {
  background-color: rgba(223, 197, 118, 0.856);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cbox input:checked ~ .checkmark:after {
  display: block;
}

.cbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a,
button {
  background-color: transparent;
  outline: none;
  transition: 0.2s;
  padding: 0.1rem;
}

a.link,
button.link {
  border: none;
  text-decoration: underline;
}

a:hover,
button:hover {
  background-color: rgb(209, 192, 171);
  cursor: pointer;
}

a:active,
button:active {
  background-color: rgba(209, 192, 171, 0.6);
}

.next-reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-reward .title {
  text-align: center;
}

.next-reward .reward-box {
  border: 1px solid #d9cbb3;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0.5rem;
  margin-bottom: 0;
  width: 60px;
  height: 60px;
}

.is-sign-today {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
